@using TaskScheduler.Models

@model List<Task>
@{
    ViewBag.Title = "Задачи";
    string time = string.Empty;
    string date = string.Empty;
}

<h1>Мои Задачи</h1>


<!-- Диалоговые окна -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Удаление задачи</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить задачу?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                <button type="button" class="btn btn-primary">Да</button>
            </div>
        </div>
    </div>
</div>

<div id="createModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Создание задачи</h4>
            </div>
            @using (Ajax.BeginForm("Create", "Task", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnCreateSuccess", OnComplete = "OnCreateComplete" })) {
                <div class="modal-body">
                    @Html.Partial("CreatePartial", new Task())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="editModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Редактирование задачи</h4>
            </div>
            @using (Ajax.BeginForm("Edit", "Task", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnEditSuccess", OnComplete = "OnEditComplete" })) {
                <div class="modal-body">
                    @Html.Partial("EditPartial", new Task())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Обновить</button>
                </div>
            }
        </div>
    </div>
</div>


<!-- Тело -->
<div class="row">
    <div class="tasks col-md-offset-1 col-md-10">
        <button type="button" class="createTask btn btn-primary">Создать задачу</button>

        <ul id="sortable">
            @foreach (var task in Model) {
            string taskId = "task" + task.Id.ToString();
            if (task.ExpirationDate.HasValue) {
                time = task.ExpirationDate.Value.ToShortTimeString();
                date = task.ExpirationDate.Value.ToShortDateString();
            }
            else {
                time = string.Empty;
                date = string.Empty;
            }

            <li class="ui-state-default">
                <div class="row panel panel-default">
                    <div class="panel-body">

                        <div class="col-md-1 text-center vcenter move">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </div>

                        <div id="@taskId" class="row task col-md-11 vcenter">

                            <div class="taskName col-md-2 vcenter">
                                <p class="text-center">@task.Name</p>
                            </div>

                            <div class="taskDescription col-md-4 vcenter">
                                <p>
                                    @task.Description
                                </p>
                            </div>

                            <div class="row col-md-6 vcenter rightColumn">
                                <div class="taskDatetime col-md-6 vcenter">
                                    <p>
                                        <span class="glyphicon glyphicon-time"></span> <span class="taskTime">@time</span><br />
                                        <span class="glyphicon glyphicon-calendar"></span> <span class="taskDate">@date</span><br />
                                    </p>
                                </div>

                                <div class="taskStatus col-md-3 vcenter">
                                    <p>
                                        @task.Status
                                    </p>
                                </div>

                                <div class="editDelete col-md-3 vcenter">
                                    <a href="#" data-taskId="@task.Id" class="taskComplete text-center"><span class="glyphicon glyphicon-ok"></span></a>
                                    <a href="#" data-taskId="@task.Id" class="taskEdit text-center"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#" data-taskId="@task.Id" class="taskDelete text-center"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </li>
    }
        </ul>

    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/task.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
}

@section Scripts{
    @Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    @Scripts.Render("~/Scripts/task.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/moment-with-locales.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
}